include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include docxmd_converter *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store